.header-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  /* margin-right: 20px; */
}
.logo-name {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
}
.logo-name::after {
  content: 'IT';
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #ec7979;
  margin-right: 20px;
}
.logo-name a:visited {
  color: #fff;
}
.menu {
}
.menu-list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-list__item {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 48px;
}
.menu-list__item:last-child {
  margin-right: 0px;
}
.menu-list__item a:visited {
  color: rgba(255, 255, 255, 0.7);
}
