@import url('../css/awesome/title.css');
@import url('../css/awesome/card.css');
@import url('../css/pricing/title.css');
@import url('../css/pricing/card.css');
@import url('../css/customer/title.css');
@import url('../css/customer/card.css');
@import url('../css/axure/title.css');
@import url('../css/axure/button.css');
@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/footer.css');
@import url('../css/firstscreen/info.css');
@import url('../css/firstscreen/form.css');
@import url('../css/contact.css');
@import url('../css/fonts.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

html {
  font-family: 'Raleway', 'Open Sans', 'Poppins', 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  padding: 20px 0;
  background-color: #000000;
}
.firstscreen {
  padding: 110px 0 101px;
  background: url('../img/firstscreen/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.social-media {
  padding: 14px 0 17px;
  background-color: #F8EFEF;
}
.awesome {
  padding: 54px 0 58px;
}
.pricing {
  padding: 80px 0 59px;
  background-color: #F5F5F5;
}
.customer {
  padding: 80px 0 120px;
}
.axure {
  padding: 58px 0 32px;
}
.contact {
  padding: 80px 0 44px;
}
.footer {
  padding: 30px 0 15px;
  background-color: #000;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
