.cards-wrap {
  padding-top: 39px; 
}
.card-content {
  max-width: 370px;
  padding-top: 39px;
  padding-bottom: 8px;
}

.card-img {
  width: 170px;
  margin: auto;
  margin-bottom: 77px;
}
.card-img img{
  display: block;
  text-align: center;
}

.card-title {
  margin: auto;
  margin-bottom: 46px;
}
.card-title h3 {
  font-size: 24px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.card-description p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}