@import url('../css/head-section.css');
@import url('../css/cards-wrap.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
section {
  padding: 50px 0;
}
