.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.description {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.31rem;
  text-align: center;
  color: #86878B;
  margin-bottom: 68px;
}
