.pracing-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.pricing-card {
  width: 340px;
  margin: 0 15px;
  transition: 0.3s;
}
.pricing-card:hover {
  box-shadow: 5px 5px 12px -1px rgba(0,0,0,0.71);
  transform: translateY(-5px);
}
.pricing-card__item-tariff {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  padding: 9px 0 14px;
  margin-bottom: 1px;
}
.pricing-card__item-price {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  padding: 26px 0 33px;
  margin-bottom: 1px;
}
.pricing-card__item-free {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  padding: 17px 0 14px;
}
.pricing-card__item {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: white;
  color: #86878B;
  padding: 10px 0 11px;
  margin: 4px 0;
}
