.axure__link {
  width: 135px;
  text-align: center;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 11px 0px;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: pulse 0.8s ease infinite alternate;
}
.link-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}
@keyframes pulse {
  from {
    transform:scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
