.axure__link {
  width: 135px;
  text-align: center;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  line-height: 42px;
  margin: auto;
  animation: pulse 0.8s ease infinite alternate;
}
.link-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
}
@keyframes pulse {
  0% {
    transform:scale(0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: inset 2px 2px 3px rgb(255, 255, 255), 1px 1px 10px rgb(135, 134, 136);
  }
}
